<div class="flashcard">
    <div class="Q_area">
        <span>Question : </span>
        <span>{{flashcard.question}}</span>
    </div>
    <div class="I_area">
        <img class="img-responsive" src="{{flashcard.image}}">
    </div>
    <div class="A_area">
        <span>Answer : </span>
        <span>{{flashcard.answer}}</span>
    </div>
</div>